
.teacher-register.confirmation-head{
    .homescreencover {
     
        padding: 80px 25px 80px 25px !important;
    }
.confirmation-text {
    margin-bottom: 45px;
    h5 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px!important;
}
p{
font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    
}
}
}