
.teacher-category.teacher-listhead.notificationhead{
    .profilelisttextinner{

        .viewprofile{
            padding: 0px 0px!important;
            color: gray!important;
            font-size: 10px;
            
            background-color: transparent!important;
            border-radius: 0px!important;
            border: none!important;
            width: 40%!important;
        }
.teacherreviews{
    h5{
font-size: 10px!important;
    }
}
    }
}