.searchscreen{
    .searchby{
        text-align: left;
        margin-bottom: 15px;
        h2{
            font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: #d3cfcf;
    padding: 5px 0px 10px 0px;
        }
        .newcondidatesinner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        .newcondidates{
           
            display: flex;
            align-items: center;
            padding: 5px 6px;
            background: #fbfbfb;
            cursor: pointer;
            border: 1px solid #e9e9e9;
            border-radius: 5px;
            font-size: 10px;
            margin-top: 5px;
    text-transform: capitalize;
    color: #477b72;
    font-weight: 600;
    &:hover {
        border: 1px solid #f7ba34!important;
        color: #f7ba34!important;
        transition: all 0.5s;
    }
           
}
    }
    }
    .profilelist{
        display: flex;
        align-items: flex-start;
        width: 100%;
        padding: 10px;
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    box-shadow: 0 2px 7px 0 rgba(32,33,36,0.10);
    margin-bottom: 10px;
        .profilelistimg{
            width: 60px;
            display: flex;
            margin-right: 10px;
            img{
                width: 55px;
                height: 60px;
             
                object-fit: cover;
                border: 2px solid #e7e7e7;
                border-radius: 25%;

            }
        }
        .profilelisttext{
            width: 85%;
.profilelisttextinner{
  
    .teacherreviews{
        h5{
            font-size: 11px;
    font-weight: 400;
    color: darkgrey;
    margin-bottom: 2px;
        }
        h6{
            font-size: 12px;
            font-weight: 600;
            color: rgb(83, 83, 83);
            margin-bottom: 2px;
            text-transform: capitalize;
        }
    }
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .viewprofile{
        padding: 3px 10px;
    background-color: #f7ba34;
    border: 1px solid #f7ba34;
   
    display: flex;
    
    align-items: center;
    
    justify-content: center;
    font-size: 8px;
    color: white;
    text-transform: capitalize;
    border-radius: 50px;
    &:hover{
        color: #477b72;
        border: 1px solid #477b72;
        transition: all 0.5s;
        background-color: transparent;
    }

    }
}
        }
    }
}