
.appointmenthead{
    .createaccount{
        width: 230px;
    .loginbtn{
        margin-top: 0px;
    }
}
.appointmentimg,
.completeprofile {
    box-shadow: 5px 3px 13px 1px #ccc;
}
   
.appointmentimg-head{
    h3{
        font-size: 16px;
        color: #a5abbc;
    }
}
.appointmentimginner {
 
    width: 60%;
    margin: auto;
}
.appointmentcover,
.completeprofile{
    margin: 15px 20px;
    background-color: white;

}

.completeprofile{
    padding: 50px;
}
.appointmentimg-foot{

h3 {
    font-size: 16px;
    font-weight: bold;
}
}

}
.appointmenthead-text {
    margin: 15px 30px;
    h3 {
        font-size: 16px;
    }
    p {
        font-size: 13px;
        color: #a5abbc;
        padding-top: 5px;
    }
}

.profilefoot{
    background-color: white;
    padding: 50px;
    margin-top: 30px;
}