
.myprofilehead{
    .appointmenthead-text{

    h3 {
        font-size: 20px;
    }
}
    .p-image {
        position: absolute;
        left: 54%;
       
    .upload-button {
        width: 30px;
    }
}
    .circle {
      
        width: 105px;
        height: 105px;
        top: 50px;
        // .profile-pic {
        //     width: 65px;
        //     margin: auto;
        // }
    }
    .steponeform {
       
        padding: 15px 40px 20px 40px;
       
    }
    .form-control {
      
        padding: 3px 0.75rem;
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(30px + 2px);
    }
    .form-group {
        margin-bottom: 11px;
    }

.steponeform {
   
  
    margin: 120px auto 0px auto;
}

}